/* You can add global styles to this file, and also import other style files */
@import'../node_modules/bootstrap/dist/css/bootstrap.min.css';
@import'../node_modules/bootswatch/dist/yeti/bootstrap.min.css'; 
@import'../node_modules/font-awesome/css/font-awesome.min.css';
@import'../node_modules/alertifyjs/build/css/themes/bootstrap.min.css'; 
@import'../node_modules/alertifyjs/build/css/alertify.min.css';
@import'../node_modules/ngx-toastr/toastr.css';

div.margin-top
{
    margin-top: 100px;
}
div.validation-error{
    width: 100%;
    margin-top: .25rem;
    font-size: 80%;
    color: #dc3545;
}

input.ng-touched.ng-invalid{
    border-color: #dc3545;
}