<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">EMP Code</th>
            <th scope="col">Full Name</th>
            <th scope="col">Position</th>
            <th scope="col">Mobile</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let value of employeeService.list">
            <th scope="row">{{value.EMPCode}}</th>
            <td>{{value.FullName}}</td>
            <td>{{value.Position}}</td>
            <td>{{value.Mobile}}</td>
            <td><button type="button" class="btn btn-link" (click)= "populateForm(value)"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></button></td>
            <td><button type="button" class="btn btn-link" (click)= "deleteRecord(value.EmployeeId)"><i class="fa fa-trash" aria-hidden="true"></i></button></td>
        </tr> 
    </tbody>
</table>

<!-- <p *ngFor="let value of values">
   {{value.EmployeeId}} {{value.FullName}}
</p> -->
