<h1 class="display-5">{{title}}</h1> 
<hr> 
<div [hidden]="!showDataClass"> 
  <form #DataClassForm = "ngForm" (ngSubmit)= "selectDataClass(DataClassForm)">
      <div class="form-row align-items-center">
        <div class="col-auto my-1">
          <label class="mr-sm-2 sr-only" for="inlineFormCustomSelect">Preference</label>
          <select class="form-control" id="inlineFormCustomSelect" [(ngModel)]="model.dataClass"
            name="dataClass"  #dataClass="ngModel" required>
            <option selected  value="null">Choose...</option>
            <option [(ngValue)]="value"  *ngFor="let value of formTempleateService.DataClassList">{{value.DataClass_Name}}</option> 
          </select>
        </div> 
        <div class="col-auto my-1">
          <button [disabled]= "!DataClassForm.valid" type="submit" class="btn btn-info">Next</button>
        </div>
      </div>
    </form> 
    <!-- {{DataClassForm.value | json}}
    <pre>{{DataClassForm.valid}}
      {{dataClass.valid}}
      {{dataClass.value| json}}
      {{dataClass.touched}}
    </pre> -->
</div>
  
    <div [hidden]="!showFormTemplate">
        <form action="" #formTemplate = "ngForm" (ngSubmit)="onSubmit(formTemplate)">
            <div class="form-row">
                <input type="hidden" value="" name="FormTempId" [(ngModel)]="formTempleateService.formTemplateData.FormTempId"
                 #FormTempId="ngModel">                 
                <!-- <div class="form-group col-md-4">
                  <label for="inputState">Data Class</label>
                  <select id="inputState" class="form-control"  name="FormDataclassId" 
                    [(ngModel)]="formTempleateService.formTemplateData.FormDataclassId" 
                    #FormDataclassId="ngModel" required>
                    <option [(ngValue)]="dataClassId" selected>{{dataClassName}}</option>                    
                  </select> 
                </div> -->
                <div class="form-group col-md-4">
                  <label for="inputState">Data Class</label>
                    <select class="form-control" id="inputState" [(ngModel)]="formTempleateService.formTemplateData.FormDataclassId"
                      name="FormDataclassId"  #FormDataclassId="ngModel" required>
                      <option selected >Choose...</option>
                      <option [(ngValue)]="value.DataClass_ID"  *ngFor="let value of formTempleateService.DataClassList">{{value.DataClass_Name}}</option> 
                    </select> 
                </div>
                <div class="form-group col-md-4">
                  <label for="inputState">Select Template</label>
                  <select id="inputState" class="form-control" name="TemplateId" [(ngModel)]="formTempleateService.formTemplateData.TemplateId" 
                    #TemplateId="ngModel" required>
                    <option  selected>Choose...</option>
                    <option [(ngValue)]="Template.Template_Id" *ngFor="let Template of formTempleateService.templateList">{{Template.Template_Name}}</option>
                  </select>
                </div>
              </div>
              <div class="form-row">
                  <div class="form-group col-md-4">
                    <label for="inputOrderNo">Order No </label>
                    <input type="number" class="form-control" id="inputOrderNo" placeholder="Order No"
                     name="Order" [(ngModel)]="formTempleateService.formTemplateData.Order" #Order="ngModel" required>
                  </div>
                  <div class="form-group col-md-4">
                    <label for="inputClassName">Class Name</label>
                    <input type="text" class="form-control" id="inputClassName" placeholder="Class Name"
                     name="TBLClassName" [(ngModel)]="formTempleateService.formTemplateData.TBLClassName" #TBLClassName="ngModel" required>
                  </div>
              </div>
              <div class="form-row">
                  <div class="form-group col-md-4">
                    <label for="inputClassCSS">Class CSS </label>
                    <input type="text" class="form-control" id="inputClassCSS" placeholder="Class CSS" 
                    name="TBLClassCSS" [(ngModel)]="formTempleateService.formTemplateData.TBLClassCSS" #TBLClassCSS="ngModel" required>
                  </div>
                  <div class="form-group col-md-4">
                    <label for="inputFormTemplate">Form Template Name</label>
                    <input type="text" class="form-control" id="inputFormTemplate" placeholder="Form Template Name" 
                    name="FormTemplateName" [(ngModel)]="formTempleateService.formTemplateData.FormTemplateName" #FormTemplateName="ngModel" required>
                  </div>
              </div>
              <div class="form-row">
                  <button [disabled]= "!formTemplate.valid" type="submit" class="btn btn-info mr-sm-2">Submit</button>                   
                  <button type="button" class="btn btn-secondary" (click)= "ngOnInit()">Cancle</button>
              </div>         
        </form> 
    </div>
     
    <div [hidden]="!showFormTemplateList" class=""  style="margin-top: 25px;"> 
      <form action="">
      <table class="table table-hover">
        <thead>
            <tr>
                <th>Select</th>
                <th scope="col">Template Name</th>
                <th scope="col">Order</th>
                <th scope="col">Class Name</th>
                <th scope="col">Class CSS</th>
                <th scope="col">Table Name</th> 
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody> 
            <tr>
                <td><div class="form-check">
                  <input type="checkbox" class="form-check-input" id="exampleCheck1">
                  <label class="form-check-label" for="exampleCheck1">Check me out</label>
                </div></td> 
                <td>Template Name</td>
                <td> Order</td>
                <td>Class Name</td>
                <td>Class CSS</td>
                <td>Class CSS</td> 
                
            <td><button type="button" class="btn btn-link" (click)= "populateFormTemp()"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></button></td>
            <td><button type="button" class="btn btn-link" (click)= "deleteFormTempReco()"><i class="fa fa-trash" aria-hidden="true"></i></button></td>
            </tr>
        </tbody>
    </table>
    <!-- <div class="col-auto my-1">
        <button type="submit" class="btn btn-info float-right">Next</button>
      </div> -->
    </form>
    </div>

 
