  <h1 class="display-5">Employee Register</h1> 
  <hr>
   <div class="row">
     <div class="col-md-5">
       <app-employee></app-employee>
     </div>
     <div class="col-md-7">
       <app-employee-list></app-employee-list>
     </div>
   </div> 
