<form #employeeForm="ngForm" autocomplete="off" (ngSubmit)="onSubmit(employeeForm)" >  
  <input id="" type="hidden" value="" name="EmployeeId" [(ngModel)]="employeeService.formData.EmployeeId" #EmployeeId="ngModel" >
  <div class="form-group">
    <label for="">Full Name</label>
    <input class="form-control" type="test" placeholder="Full Name"  name="FullName" [(ngModel)]="employeeService.formData.FullName" #FullName="ngModel" required> 
    <div class="validation-error" *ngIf="FullName.invalid &&  FullName.touched">This is required field</div>
  </div>
  <div class="form-group">
    <label for="">Position</label>
    <input class="form-control" placeholder="Position" name="Position" [(ngModel)]= "employeeService.formData.Position" #Position="ngModel" required> 
    <div class="validation-error" *ngIf="Position.invalid &&  Position.touched">This is required field</div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="">Emp Code</label>
      <input class="form-control" placeholder="Emp Code" name="EMPCode" [(ngModel)]= "employeeService.formData.EMPCode" #EMPCode="ngModel" required> 
      <div class="validation-error" *ngIf="EMPCode.invalid &&  EMPCode.touched">This is required field</div>
    </div>
    <div class="form-group col-md-6">
      <label for="">Mobile No.</label>
      <input class="form-control" placeholder="Mobile No." name="Mobile" [(ngModel)]= "employeeService.formData.Mobile" #Mobile="ngModel" required> 
      <div class="validation-error" *ngIf="Mobile.invalid &&  Mobile.touched">This is required field</div>
    </div>
  </div>
  <div class="form-group">
    <button type="submit" [disabled]="!employeeForm.valid" class="btn btn-lg btn-success mr-sm-2">Submit</button>
    <button type="button" class="btn btn-lg btn-secondary mr-sm-2" (click)="resetForm(employeeForm)">
        <i class="fa fa-repeat"></i> Reset</button>
  </div>
   
</form>

<!-- <pre>
  Form valid : {{employeeForm.valid}}
  Form Touch: {{employeeForm.touched}}
  Form Derty: {{employeeForm.dirty}}
  Form value: {{employeeForm.value | json}}

  Form valid : {{FullName.valid}}
  Form Touch: {{FullName.touched}}
  Form Derty: {{FullName.dirty}}
  Form value: {{FullName.value}}
</pre> -->